$def with (url, galleries, quote, str)
$if url is None:
    <html>
        <head>
            <title>123</title>
        </head>
        <body>
            <div id="div1"></div>
            <label for="url">链接</label><input type="text" id="url">
            <input type="button" id="submit" value="提交">
            $for gallery in galleries:
                $ gallery_url = quote(str("/gallery/"+gallery))
                $ gallery_words = gallery.decode("gbk")
                <a href="$gallery_url">$gallery_words</a>
            <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
            <script>
                jQuery("#submit").click(function(){
                    var form;
                    form = {
                        url: jQuery("#url").val(),
                    };
                    var html_obj;
                    html_obj = jQuery.ajax({
                        url: "/", data: form, success: function (res) {
                            jQuery("#myDiv").html(res);
                        }
                    });

                });
            </script>
        </body>
    </html>
$else:
    dlding